.city {
    display: flex;
    height: 128px;
}

img {
    width: 128px;
    height: 128px;
}

.city__image {
    float: left;
    width: 128px;
    height: 128px;
}

.city__description {
    float: left;
    margin: 0px 16px;
    width: 480px;
}

.city__like {
    float: left;
    width: 48px;
    height: 128px;
    border: none;
    outline: none;
}

p {
    padding: 0px;
    margin: 8px 0px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}
