.like {
    float: left;
    width: 48px;
    height: 128px;
    border: none;
    outline: none;
    background: red;
}

.like:hover {
    background: rgb(128, 0, 0);
}

.dislike {
    float: left;
    width: 48px;
    height: 128px;
    border: none;
    outline: none;
    background: white;
}

.dislike:hover {
    background: rgb(255, 0, 0);
}
